
.cr-bees img {
    display: block;
    width: 100%;
    height: auto;
}

.cr-bees-header-img {
    margin-bottom: 35px;
}


.cr-top-txt {
    display: block;
    width: 50%;
    margin: 0 auto 25px;
    text-align: center;
    font-size: 1.25em;
}

.cr-bee-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;
    text-align: justify;
    width: 75%;
    margin: 0 auto 25px;
}

.cr-bee-blogs {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    width: 75%;
    margin: 0 auto 50px;
}

.cr-shop-bees {
    width: 25%;
    margin: 0 auto 25px;
}

.cr-bees-learn-more {
    width: 40%;
    margin: 0 auto;
}

.cr-visit-blogs {
    text-align: center;
}

li {
    margin: 10px 0;
}

.cr-bee-info ul,li {
    list-style-type: none;
    padding: 0;
}

.cr-bee-info h2,h3 {
    text-decoration: underline;
}



@media only screen and (max-width: 768px) {
    .cr-top-txt {
        width: 95%;
        text-align: justify;
    }
    
    .cr-bee-info {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .cr-bee-blogs {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .cr-italian-more {
        display: none;
    }
    
    .cr-carniolan-more {
        display: none;
    }

    .cr-shop-bees {
        width: 50%;
    }

    .cr-bees-learn-more {
        width: 90%;
    }
}